p {
    font-size: 25px;
}

li {
    font-size: 22px;
}

span {
    font-size: 20px;
}

th {
    font-size: 20px;
}

td {
    font-size: 20px;
}

div {
    font-size: 22px !important;
}

.slides {
    width: 95% !important;
}

pre {
    font-family: "courier new", courier, monospace !important;
    font-size: 22px !important;
}

img {
    text-align: center;
    max-width: 50% !important;
}

section {
    width: 100% !important;
}
